<div class="row-fluid">
  <div class="span12 center">
    <h3><%= @employee.first_name+" "+@employee.last_name %></h3>
    <%= @employee.email %>
  </div>
  <div class="row-fluid"><div class="span12"></div></div>
  <div class="row-fluid center">
    <strong>Position</strong>
    <div class="hr-short center"></div>
  </div>
  <div class="row-fluid">
    <div class="row-fluid"><div class="span12"></div></div>
    <% @employee.employee_positions.each do |position| %>
    <div class="row-fluid">
      <div class="span4"></div>
      <div class="span4">
	<div class="row-fluid">
	  <div class="row-fluid">
	    <div class="span8">
	      <div class="row-fluid">
		<div class="span2"></div>
		<div class="span10">
		  <div class="row-fluid">
		    <%= position.position %>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="span4 right">
	      <div class="row-fluid">
		<div class="span8">
		  <% if position.position != "Intern" and position.position != "Contributor" then %>
		  level <%= position.level %>
		  <% end %>
		</div>
		<div class="span4"></div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="span4"></div>
    
    </div>
  <% end %>
  </div>
  
  <div class="row-fluid"><div class="span12"></div></div>
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6 center">
      <div class="row-fluid">
	<%= f.password_field :password, placeholder: "password" %>
      </div>
      <div class="row-fluid">
	<%= f.password_field :password_confirmation, placeholder:"password confirmation" %>
      </div>
    </div>
    <div class="span3"></div>
  </div>
    
  <div class="row-fluid"><div class="span12"></div></div>
  <div class="row-fluid"><div class="span12"></div></div>

</div>


