<% if @administrative then %>
<% provide(:title, "Edit Employee") %>
<% else %>
<% provide(:title, "Edit Your Account") %>
<% end %>

<% if @administrative then %>
<% to_url = edit_administrative_employee_path %>
<% else %>
<% to_url = edit_personal_info_path %>
<% end %>

<%= form_for @employee, :url=> to_url do |f| %> 
<div class="row-fluid center">
  <div class="span3"></div>
  <div class="span6">
    <% if @employee.errors.any? %>
    <div class="error_messages">
      <h2>There were some errors.</h2>
      <ul>
        <% for message in @employee.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
  <div class="span3"></div>
</div>

<% if @administrative then %>
<%= render 'edit_administrator',  :f => f, :employee=> @employee  %>
<% else %>
<%= render 'edit_employee', :f => f, :employee=> @employee %>
<% end %>

<div class="row-fluid">
  <div class="span3"></div>    
  <div class="actions span6 center">
    <%= f.submit "Apply", class: 'btn btn-primary' %>
    <%= link_to 'Back', @back_path, class: 'btn btn-primary make-white' %>
  </div>
  <div class="span3"></div>
</div>

<% end %>




