<% provide(:title, "New Employee") %>


<%= form_for @employee, :url=> administrator_employees_path do |f| %>
  <div class="row-fluid center">
    <div class="span3"></div>
    <div class="span6">
      <% if @employee.errors.any? %>
      <div class="error_messages">
	<h2>There were some errors.</h2>
	<ul>
          <% for message in @employee.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
	</ul>
      </div>
      <% end %>
    </div>
    <div class="span3"></div>
  </div>
  <div class="row-fluid center">
    <div class="span3"></div>
    <div class="span6">
      <h1>Hire a New Employee</h1>
    </div>
    <div class="span3"></div>
  </div>
  <div class="row-fluid"><div class="span12 row"></div></div>
  <div class="row-fluid"><div class="span12 row"></div></div>

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6 field center">
	<%= f.text_field :first_name, placeholder: "first name" %>
	<%= f.text_field :last_name, placeholder: "last name" %>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6 field center">
      <div class="row-fluid">
	<%= f.text_field :email, placeholder: "email" %>
      </div>
      <div class="row-fluid">
	<%= f.text_field :email_confirmation, placeholder: "email confirmation" %>
	<% initial_password = generate_temporary_password %>
	<%= f.hidden_field :password, value: initial_password %>
	<%= f.hidden_field :password_confirmation, value: initial_password %>
      </div>
    </div>
    <div class="span3"></div>
  </div>


  <div class="row-fluid"><div class="span12"></div></div>
  <div class="row-fluid center">
    <strong>Position</strong>
    <div class="hr-short center"></div>
  </div>

  <div class="row-fluid">
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <div class="span4"></div>
      <div class="span4">
	<% EmployeePositionType.all.each_with_index do |position, idx| %>
	<div class="row-fluid">
	  <div class="span8">
	    <div class="row-fluid">
	      <div class="span2">
	      </div>
	      <div class="span10">
		<div class="row-fluid">
		  <div class="span2">
		    <%= check_box_tag( "employee[employee_positions_attributes][#{idx}][position]", position.position_type, false, class:'up') %>
		  </div>
		  <div class="span10 inline few-down">
		    <%= position.position_type %>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <div class="span4 right">
	    <div class="row-fluid">
	      <div class="span8">
		<% if position.position_type != "Intern" and  position.position_type != "Contributor" then %>
	        <%= select_tag "employee[employee_positions_attributes][#{idx}][level]", options_for_select(list_of_levels(position.position_type)), {class: "input-time"} %>
		  <% else %>
		  <%= hidden_field_tag "employee[employee_positions_attributes][#{idx}][level]", "1" %>
		  <% end %>
	      </div>
	      <div class="span4"></div>
	    </div>
	  </div>
	</div>
	<% end %>
      </div>
      <div class="span4"></div>
    </div>
  </div>


  <div class="row-fluid"><div class="span12"></div></div>
  <div class="row-fluid">
    <div class="span3"></div>    
    <div class="actions span6 center">
      <%= f.submit "Create and send mail", class: 'btn btn-primary' %>
      <%= link_to 'Back', administrator_path, class: 'btn btn-primary make-white' %>
    </div>
    <div class="span3"></div>
  </div>

<% end %>


