<div class="row-fluid">
  <div class="span12 center">
    <h3><%= @employee.first_name+" "+@employee.last_name %></h3>
    <%= @employee.email %>
  </div>
  <div class="row-fluid"><div class="span12"></div></div>
  <div class="row-fluid center">
    <strong>Position</strong>
    <div class="hr-short center"></div>
  </div>
  <div class="row-fluid">
    <div class="row-fluid"><div class="span12"></div></div>
    <% @employee.employee_positions.each do |position| %>
    <div class="row-fluid">
      <div class="span4"></div>
      <div class="span4">
	<div class="row-fluid">
	  <div class="row-fluid">
	    <div class="span8">
	      <div class="row-fluid">
		<div class="span2"></div>
		<div class="span10">
		  <div class="row-fluid">
		    <%= position.position %>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="span4 right">
	      <div class="row-fluid">
		<div class="span8">
		  <% if position.position != "Intern" and position.position != "Contributor" then %>
		  level <%= position.level %>
		  <% end %>
		</div>
		<div class="span4"></div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="span4"></div>
      <% end %>
    </div>
  </div>
    
  <div class="row-fluid"><div class="span12"></div></div>
  <div class="row-fluid"><div class="span12"></div></div>

    
  <div class="row-fluid center">
    <% if @can_edit and @administrative%>
    <%= link_to 'Edit', edit_administrator_employee_path(@employee), class: 'btn btn-primary make-white' %>
    <% elsif @can_edit and !@administrative %>
    <%= link_to 'Edit', edit_employee_path(@employee), class: 'btn btn-primary make-white' %>   
    <% end %>
    <% if @can_delete %>
    <%= link_to 'Delete', administrator_employee_path(@employee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary make-white' %> 
    <% end %>
    <%= link_to 'Back', @back_path, class: 'btn btn-primary make-white' %>
  </div>
</div>






