<div class="row-fluid">
  <div class="span12">
    <%= f.text_field :title, :size => 80, maxlength: 80, class:"span11", placeholder: "Enter title here" %>
    <%= link_to raw("<i class='icon-question-sign'></i>"), "#",  class: 'show_tip', data: {tip: "This is the actual title that will be displayed for users."} %>
  </div>
</div>
<div class="row-fluid">
  <div class="span5-5">
    <%= f.text_field :city, size: 20, maxlength: 20, class:"span12", placeholder: "city" %>
  </div>
  <div class="span5-5">
    <%= f.text_field :country, size: 20, maxlength: 20, class:"span12", placeholder: "country" %>
  </div>
    <%= link_to raw("<i class='icon-question-sign'></i>"), "#",  class: 'show_tip', data: {tip: "City and Country where the event occurred."}, style: "margin-left:0.6%;" %>

</div>


