<div class="span11">
  <div class="row span12">
    <div class="span12 center">
      <% if user %>
      <%=link_to raw("<i class='icon-arrow-left'></i>"), show_previous_path(:article_id=> article.id), id:'show_previous_summaries_button', class:'btn up', disabled: true, style:"float:left;", remote: true %>
      <% end %>
      <strong>Past Summaries</strong>
      <% if user %>
      <%=link_to raw("<i class='icon-arrow-right'></i>"), show_recent_path(:article_id => article.id), id:'show_details_button', class:'btn up', style:"float:right;", remote: true %>
      <% end %>
      <div class="hr-full center"></div>
    </div>
  </div>
  <div class="row span12">
    <div class="span12"></div>
    <div class="span12">
	<%= raw(article.previous_summary) %>
    </div>
  </div>

  <div class="span12 row"></div>
  <div class="span12 row">
    <% count = 0 %>
    <% article.issue_list.each do |tag| %>
    <div class="span12">
      <% if current_user then %>
      <%= link_to "More on "+tag, user_tag_path(tag) %>
      <% else %>
      <%= link_to "More on "+tag, tag_path(tag) %>
      <% end %>
    </div>
    <% end %>
    <% article.tag_list.each do |tag| %>
      <% if count < 3 then %>
        <div class="span12">
	  <% if current_user then %>
	  <%= link_to "More on "+tag, user_tag_path(tag) %>
	  <% else %>
	  <%= link_to "More on "+tag, tag_path(tag) %>
	  <% end %>
	  <% count = count +1 %>
	</div>
      <% end %>
    <% end %>
  </div>

  <div class="span12 row"></div>
  <div class="span12 row"></div>

</div>
<div class="span1"></div>
