
  <div id="definition_window" style="display:none;">
  </div>

  <div id="citations_window" style="display:none;" class="row-fluid">
    <% @article.citations.each do |citation| %>
      <div class="row-fluid">
        <%= citation.author%>. &quot;<%=citation.title%>&quot; <u><%=citation.publisher%></u> <%=citation.published_date.strftime "%e %b. %Y."%> <%=citation.accessed_date.strftime "%e %b. %Y."%> &lt;<%=citation.link%>&gt;
      </div>
    <% end %>
  </div>

<div class="row-fluid">
  <div class="span12">
    
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="center span6">
	<div class="row-fluid">
	  <div class="span12">
	    <% @article.tag_list.to_s.split(", ").each do |tag| %>
	    <div class='tag_wrap_form'>
	      <div class='tag triangle-obtuse'>
		<%=tag %>
	      </div>
	    </div>
	    <% end %>
	  </div>
	</div>
	<div class="row-fluid">
	  <div class="span12">
	    <strong><%= @article.category %></strong>
	  </div>
	</div>
      </div>
      <div class="span3"></div>
    </div>

    <div class="row-fluid">
	<div style="float:left;position:relative;left:50%;">
	  <% if ((employee_privilege("Editor") and (@status=="Assigned" or (@article.contributor_id != current_employee.id and @status=="Being Written"))) or (employee_privilege("Contributor") and @status=="Assigned")) %>
	  <div style="float:left;position:relative;left: -50%;">
	  <h6><%= @article.issue_list[0].upcase %></h6>
	  <h3 id="title">
	    <%= @article.temporary_title %>
	  </h3>
	  </div>
	  <% else %>
	  <div style="float:left;position:relative;left: -50%;">
	    <h6><%= @article.issue_list[0].upcase %></h6>
	    <h3 id="title">
	      <%= @article.title %><%= link_to raw("<i class='icon-info-sign'></i>"), "#",  class: 'show_citations_window' %>	  
	    </h3>
	  </div>
	  <% end %>
	</div>
    </div>
    
    <div class="row-fluid">
      <% if current_employee %>
      <div class="span2"></div>
      <div class="span8 center">
	<div class="row-fluid">
          STATUS: <%= @status %>    
	</div>	
	<div class="row-fluid down">
	  <% if @can_update and (@status=="Being Written" or @status=="Revoked") then %>
	  <div class="span12">
	    <% if employee_privilege("Editor") %>
	      <% new_status = "Approved" %>
	    <% else %>
	      <% new_status = "Need Review" %>
	    <% end %>
	    <%= form_tag(update_status_path(:contributor_id => current_employee.id, :id => @article.id, :status => new_status)) do |f| %>
	    <%= hidden_field_tag "back_path", @back_path %>
	    <% if employee_privilege("Editor") %>
	    <%= submit_tag "Approve", class: 'btn btn-primary make-white'%>            
	    <% else %>
	    <%= submit_tag "Submit For Review", class: 'btn btn-primary make-white'%>
	    <% end %>
	    <% end %>
	  </div>
	  <% elsif @can_update and @status=="Need Review" then %>
	  <div class="row-fluid" id="article_status_actions">
	    <%= form_tag(update_status_path(:editor_id => current_employee.id, :id => @article.id, :status => "Approved")) do |f| %>
	    <%= hidden_field_tag "back_path", @back_path %>
            <%= submit_tag "Approve", class: 'btn btn-primary make-white' %>
	    <%= link_to 'Revoke', "#", id:"revoke_article_button", class: 'btn btn-primary make-white'%>	
	    <% end %>
	  </div>
	  <div id="article_revoke_actions" class="row-fluid" style="display:none;">
	    <div class= "row-fluid">
	    <%= form_tag(update_status_path(:editor_id => current_employee.id, :id => @article.id, :status => "Revoked")) do |f| %>
	    <%= text_area_tag "reason", nil, placeholder:"Reason for revoking", rows: 8, class: 'input-xlarge' %>
	    <div class="row-fluid center">
	      <%= hidden_field_tag "back_path", @back_path %>
              <%= submit_tag "Confirm", class: 'btn btn-primary make-white' %>
	      <%= link_to "Cancel", "#", id: "cancel_revoke_article_button", class: 'btn btn-primary make-white' %>
	    </div>  
	    <% end %>
	    </div>
	  </div>
	  <% elsif @can_update and @status=="Approved" then %>
	  <div class="row-fluid" id="article_status_actions">
	    <%= form_tag(update_status_path(:editor_id => current_employee.id, :id => @article.id, :status => "Published")) do |f| %>
	    <%= hidden_field_tag "back_path", @back_path %>
            <%= submit_tag "Publish", class: 'btn btn-primary make-white' %>
	    <% end %>
	  </div>
	  <% end %>
	</div>
      </div>
      <div class="span2"></div>
      <% end %>
    </div>

    <% if (employee_privilege("Editor") and !@can_update and (@status=="Being Written" or @status == "Assigned")) or (!employee_privilege("Editor") and employee_privilege("Contributor") and @status=="Assigned") %>

    <div class="row-fluid">
      <div class="span4"></div>
      <div class="span4">
	<div class="row-fluid">
	  <div class="row-fluid center">
	    <strong>Notes</strong>
	  </div>
	  <div class="row-fluid">
	    <div class="hr-full center"></div>
	  </div>
	</div>
	<div class="row-fluid">
	  <div class="span12"></div>
	</div>
	<div class="row-fluid">
	  <div class="span12">
	    <%= @article.instruction %>
	  </div>
	</div>
      </div>
      <div class="span4"></div>
    </div>
    <% else %>

    <div class="row-fluid center">
      <div class="span2"></div>
      <div class="span8">
	<% if @article.published_at.nil? %>
	<div class="row-fluid"><em>NOT PUBLISHED YET</em></div>
	<div class="row-fluid"><em>in <%= @article.city %>, <%= @article.country %>,</em></div>
	<% else %>
	<em><%=distance_of_time_in_words(@article.published_at, Time.now)%> ago in <%= @article.city %>, <%= @article.country %>,</em></em>
	<% end %>
      </div>
      <div class="span2"></div>
    </div>
    
    <div class="row-fluid"><div class="span12"></div></div>


    <div class="row-fluid">
      <div class="span1-5"></div>
      <div class="span3">
	<%= render 'articles/show/show_past_summaries', :article => @article, :user => false %>
      </div>
      <div class="span3">
	<%=render 'articles/show/show_recent_events', :article => @article, :user => false %>
      </div>
      <div class="span3">
	<%= render 'articles/show/show_details', :article => @article, :user => false %>
      </div>
      <div class="span1-5"></div>
    </div>
    <% end %>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid"><div class="span12"></div></div>


    <div id="article_actions" class="row-fluid">
      <% if @article.status == "Assigned" then %>
      <div class="row-fluid">
	<% else %>
	<% end %>
	<div class="row-fluid">
	  <div class= "span4"></div>
	  <div class= "span4 center">
	    <% if @show_edit %>
	    <%= link_to 'Edit', @edit_path, class: 'btn btn-primary make-white' %>
	    <% end %>
	    <% if @can_delete then %>
	    <%= link_to 'Delete', "#", id: "delete_article_button", class: 'btn btn-primary make-white'%>
	    <% end %>
	    <%= link_to 'Back', @back_path,class: 'btn btn-primary make-white'%>
	  </div>
	  <div class="span4"></div>
	  <% if @article.status == "Assigned" then %>
	</div>
	<% else %>
	<% end %>
      </div>
    </div>


    <div id="article_delete_actions" class="row-fluid" style="display:none;">
      <% if @article.status == "Assigned" then %>
      <div class="row-fluid">
	<% end %>
	<div class="row-fluid">
	  <div class= "span4"></div>
	  <div class= "span4">
	    <% if @can_delete then %>
	    <%= form_tag(workspace_article_path(@article, :back_path => @back_path), :method => :delete) do |f| %>
	    <div class="row-fluid center">
	      <%= hidden_field_tag "back_path", @back_path %>
	      <%= text_area_tag "reason", nil, placeholder:"Reason for deletion", rows: 8, class:'input-xlarge' %>
	    </div>
	    <div class="row-fluid center">
              <%= submit_tag "Confirm", class: 'btn btn-primary make-white' %>
	      <%= link_to "Cancel", "#", id: "cancel_delete_article_button", class: 'btn btn-primary make-white' %>
	      <% end %>
	    </div>
	    <% end %>
	  </div>
	  <div class="span4"></div>
      <% if @article.status == "Assigned" then %>
	</div>
	<% end %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12"></div>
    </div>
    <div class="row-fluid">
      <div class="span12"></div>
    </div>
    <div class="row-fluid">
      <div class="span12"></div>
    </div>
  </div>
</div>

