<% provide(:title, "Published Articles") %>
<div class="span12">
  <div class="span12 row center">
    <h3>Published Articles</h3>
  </div>
  <div class="span12 row center"></div>
  <% if !@articles.empty? %>
  <div class="span1"></div>
  <div class="span10">
    <table class="table table-striped table-hover">
      <thead>
	<tr>
	  <% if @isEditor then %>
	  <%= form_tag(archive_articles_path(:editor_id => current_employee.id), method: :post) do %>
	  <th class="span1"><%=check_box_tag 'check_all', 'check_all', false%></th>
	  <th class="span5">TITLE</th>
	  <% if @isEditor then %> 
	  <th class="span3">CONTRIBUTOR</th>
	  <th class="span2">EDITOR</th>
	  <% end %>
	  <% if @isContributor then %> 
	  <th class="span3">EDITOR</th>
	  <% end %>
	  <% if !@isContributor and !@isEditor then %>
	  <th class="span3">AUTHOR</th>
	  <% end %>
	  <th class="span2">PUBLISHED TIME</th>
	</tr>
      </thead>
      <tbody>
	<% @articles.each do |article| %>
	<tr>
	  <td><%= check_box_tag 'article_'+article.id.to_s, article.id, false %> </td>
	  <td><%= link_to article.title, editor_article_path(current_employee, article)%></td>
	  <td><%= article.contributor.first_name + " " + article.contributor.last_name %></td>
	  <td><%= article.editor.first_name + " " + article.editor.last_name %></td>
	  <% if article.published_at.nil? %>
	  <td>NO TIME </td>
	  <% else %>
	  <td><%= article.published_at.localtime.strftime "%m/%d/%y" %></td>
	  <% end %>
	</tr>
	<% end %>
      </tbody>
    </table>
    <div class="span12 row center"><%= will_paginate @articles, :renderer => BootstrapPagination::Rails, :previous_label => "←", :next_label => "→" %></div>
    <div class="span12 row center">
      <%= submit_tag "Archive Selected", :disable_with => "plz", class:'btn btn-primary' %>
    </div>
    <% end %>
    <% else %>
    <th class="span6">TITLE</th>
    <% if @isEditor then %> 
    <th class="span3">CONTRIBUTOR</th>
    <th class="span2">EDITOR</th>
    <% end %>
    <% if @isContributor then %> 
    <th class="span3">EDITOR</th>
    <% end %>
    <% if !@isContributor and !@isEditor then %>
    <th class="span3">AUTHOR</th>
    <% end %>
    <% if !@isContributor and !@isEditor then %>
    <th class="span3">PUBLISHED TIME</th>
    <% end %>
    </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
	<% if @isContributor then %>
	<td><%= link_to article.title, contributor_article_path(current_employee, article)%></td>
	<% end %>
	<% if !@isContributor and !@isEditor and !current_user.present? then %>
	<td><%= link_to article.title, published_article_path(article)%></td>
	<% end %>
	<% if !@isContributor and !@isEditor and current_user.present? then %>
	<td><%= link_to article.title, user_published_article_path(article)%></td>
	<% end %>
	<% if @isContributor then %>
	<td><%= article.editor.first_name + " " + article.editor.last_name %></td>
	<% end %>
	<% if !@isEditor and !@isContributor then %>
	<td><%= article.contributor.first_name + " " + article.contributor.last_name %></td>
	<% end %>
	<td><%= article.published_at.localtime.strftime "%m/%d/%y %I:%M %p" %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <div class="span12 row center"><%= will_paginate @articles, :renderer => BootstrapPagination::Rails, :previous_label => "←", :next_label => "→" %></div>
    <% end %>
  </div>
  <div class="span1"></div>
  <% else %>
  <div class="span12 row center">
    <strong>There are no articles.</strong>
  </div>
  <% end %>
</div>  

  
