<% provide(:title, "Edit User") %>

<%= form_for @user, :url=>{:action => 'update'} do |f| %> 
<div class="span12 row center">
  <% if @user.errors.any? %>
  <h2>There were some errors.</h2>
  <ul>
    <% for message in @user.errors.full_messages %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class="span12 row center">
  <h3><%= @user.first_name%> <%= @user.last_name %></h3>
  <%= @user.email %>
</div>

<div class="span12 row"></div>
<div class="span12 row center">
  <div class="span12">
    <%= f.password_field :password, placeholder: "password" %>
  </div>
  <div class="span12">
    <%= f.password_field :password_confirmation, placeholder:"password confirmation" %>
  </div>
</div>

<div class="span12 row center">
  <%= f.submit "Apply", class: 'btn btn-primary' %>
  <%= link_to 'Back', @back_path, class: 'btn btn-primary make-white' %>
</div>

<% end %>
</div>



