<div class="row-fluid">
  <div class="span11">
    <div class="row-fluid">
      <div class="span12 center">
	<strong>Details</strong>
	<div class="hr-full center"></div>
      </div>
    </div>
    <% num_images = 0 %>
    <% @article.images.each do |image| %>
    <% if image.image_type == "DETAIL" then %>
    <% num_images = num_images+1 %>
    <% end %>
    <% end %>
    <% num_details = num_images + @article.additional_texts.size %>
    <% if num_details > 0 then %>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <ul>
      <% position= 0 %>
      <% @article.additional_texts.each do |text| %>
        <% if text.location != position then %>
	  <% @article.images.each do |image| %>
            <% if image.image_type == "DETAIL" and image.location== position then %>
	    <div class="row-fluid">
 	      <%= image_tag image.image_name.fit.url.to_s %>
	    </div>
	    <% position = position + 1 %>
 	    <% end %>
	  <% end %>
	<% end %>
	  <div class="row-fluid">
	    <li><%= raw(text.bullet)%></li>
  	  </div>
	<% position = position + 1 %>
      <% end %>
      <% @article.images.each do |image| %>
      <% if image.image_type == "DETAIL" and image.location== position then %>
      <div class="row-fluid">
	<%= image_tag image.image_name.fit.url.to_s %>
      </div>
      <% position = position + 1 %>
      <% end %>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid"><div class="span12"></div></div>
    
    <div class="row-fluid">
      <% article.numbers.each do |number| %>
      <div class="row-fluid">
	<div class="span3 down" style="font-size:20pt;">
	  <%= number.value%>
	</div>
	<div class="span9">
	  <%=number.explanation %>
	</div>
      </div>
      <% end %>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid"><div class="span12"></div></div>
  </div>
  <div class="span1"></div>  
</div>
