<div class="row-fluid">
  <div class="span12" id="background">
    <h5>Recent Events<%= link_to raw("<i class='icon-question-sign'></i>"), "#",  class: 'show_tip', data: {tip: "Today's events regarding this topic should be entered here. To add a pop up for a certain word, press 'New Popup' button, and enter the word in 'phrase', as written in the article, and enter the content for the popup in the editor. You can also add an image by clicking 'New Image' button."} %></h5>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="hr-full"></div>
  </div>
</div>
<div class="row-fluid center">
  <% if f.object.current_content.nil? or f.object.current_content == "" then %>
  <% if @previous_article.nil? then %>
  <%= f.cktext_area :current_content, :ckeditor=>{ :height=> 150 }, class:"span12" %>
  <% else %>
  <%= f.cktext_area :current_content, value: @previous_article.current_content, :ckeditor=>{ :height=> 150 }, class:"span12" %>
  <% end %>
  <% else %>
  <%= f.cktext_area :current_content, :ckeditor=>{ :height=> 150 }, class:"span12" %>
  <% end %>

</div>
<div class="row-fluid">
  <div id="extra_information" class="row-fluid">
    <%= f.fields_for :extra_informations do |builder| %>
    <div class="fields row-fluid"><div class="span12"></div></div>
    <div class="fields row-fluid">
      <%= render 'articles/fields/extra_information_fields', :f=> builder %>
    </div>
    <% end %>
  </div>
</div>
<div class="row-fluid"><div class="span12"></div></div>
<div class="row-fluid center">
  <div class="span12">
    <%= link_to_add_fields "New Popup", f, :extra_informations, target: "extra_information", delete: false, hide: false, class: 'btn btn-large' %>
  </div>
</div>
<div class="row-fluid center"><div class="span12"></div></div>

<div class="row-fluid center">
  <% if @article.images.nil? or @article.images.size ==0 then %>
  <%= link_to_add_fields "New Image", f, :images, image_type: "GIST", target: "current_image", delete: true, hide: false, class: 'btn btn-large add_gist_image' %>
  <% else %>
  <%= link_to_add_fields "New Image", f, :images, image_type: "GIST", target: "current_image", delete: true, hide: true, class: 'btn btn-large add_gist_image' %>
  <% end %>
</div>
<div id="current_image" class="center row-fluid">
  <% @article.images.each do |image| %>
  <% if image.image_type == "GIST" then %>
  <%= f.fields_for :images, image do |builder| %>
  <div class="row-fluid fields">
    <%= render 'articles/fields/image_fields', :f => builder, :image_type => "DETAIL" %>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
