<!-- START:head -->
<!DOCTYPE html>
<html>
  <head>
    <title>GIST <% title_component = yield(:title) %>
      <% if title_component!="" then %>
      | <%= title_component %>
      <% end %>
    </title>
    <%= stylesheet_link_tag "application", media: "all" %><!-- <label id="code.slt"/> -->
    <!-- <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %> -->
    <!-- <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %> -->
    <%= javascript_include_tag "application",  '/assets/ckeditor/ckeditor.js', '/assets/ckeditor/init.js'%><!-- <label id="code.jlt"/> -->
    <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
    <link href= "/assets/favicon.ico" rel="shortcut icon" />
  </head>
<!-- END:head -->
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid no-space">
	  <div class="span1"></div>
	  <div class="span11">
            <%= link_to "Gist", home_path,class: "brand", id: "logo" %>
            <nav>
	      <% if current_employee %>
              <ul class="nav pull-left">
		<% if employee_privilege("Contributor") or employee_privilege("Editor") or employee_privilege("Administrator") then %>
		  <% if @editor_layout then %>
		  <li class="dropdown active"><%= link_to raw("WORKSPACE <span style='font-size:60%'>EDITOR&nbsp;&nbsp;&nbsp;</span><i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		  <% elsif @contributor_layout then %>
		  <li class="dropdown active"><%= link_to raw("WORKSPACE <span style='font-size:60%'>CONTRIBUTOR&nbsp;&nbsp;&nbsp;</span><i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		  <% elsif @administrator_layout then %>
		  <li class="dropdown active"><%= link_to raw("WORKSPACE <span style='font-size:60%'>ADMINISTRATOR&nbsp;&nbsp;&nbsp;</span><i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		  <% else %>
		  <li class="dropdown"><%= link_to raw("WORKSPACE&nbsp;&nbsp;&nbsp;<i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		  <% end %>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="history">
		    <% if employee_privilege("Contributor") %>
		    <li><%=link_to "Contributor", contributor_path(current_employee) %></li>
		    <% end %>
		    <% if employee_privilege("Editor") %>
		    <li><%=link_to "Editor", editor_path(current_employee) %></li>
		    <% end %>
		    <% if employee_privilege("Administrator") %>
		    <li><%=link_to "Administrator", administrator_path(current_employee)%></li>
		    <% end %>
		  </ul>
		</li>
		<% end %>
		<% if employee_privilege("Contributor") or employee_privilege("Editor") then %>
		  <% if @history_editor_layout then %>
		  <li class="dropdown active">
		    <%= link_to raw("HISTORY<span style='font-size:60%'>EDITOR&nbsp;&nbsp;&nbsp;</span><i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		    <% elsif @history_contributor_layout then %>
		  <li class="dropdown active">
		    <%= link_to raw("HISTORY<span style='font-size:60%'>CONTRIBUTOR&nbsp;&nbsp;&nbsp;</span><i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		    <% else %>
		  <li class="dropdown">
		    <%= link_to raw("HISTORY&nbsp;&nbsp;&nbsp;<i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		    <% end %>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
		      <% if employee_privilege("Contributor") %>
		      <li><%=link_to "Contributor History", history_contributor_path %></li>
		      <% end %>
		      <% if employee_privilege("Editor") %>
		      <li><%=link_to "Editor History", history_editor_path %></li>
		      <% end %>
		    </ul>
		  </li>
		<% end %>
		<% if @published_layout then %>
		<li class="active">
		<% else %>
		<li>
		<% end %>
		<%= link_to "PUBLISHED", published_index_path %></li>
		<% if @employees_layout then %>
		<li class="active">
		<% else %>
		<li>
		<% end %>
		<%= link_to "EMPLOYEES", employees_path %></li>
              </ul>
	      <% end %>
              <ul class="nav pull-right">
		<% if current_employee %>
		<li><%=link_to "HOME", home_path %></li>
		<li class="dropdown">
		    <%= link_to image_tag("Control Panel.png", alt: "Settings") + raw("&nbsp;&nbsp;<i class='caret blue-caret'></i>"), '#', data: {toggle: "dropdown"}, class:"dropdown-toggle" %>
		    <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
		      <li><%= link_to "Edit Account", edit_employee_path(current_employee) %></li>
		      <li class="dropdown-divider"></li>
		      <li><%= link_to "Sign Out", log_out_path %></li>
		    </ul>
		</li>
		<% else %>
		<li><%= link_to "User", root_path %></li>
		<li><%= link_to "Uploader", root_uploader_path %></li>
		<% end %>
              </ul>
            </nav>
	  </div>
        </div>
      </div>
    </header>
    <div class="row-fluid no-space">
      <% if @editor_layout or @contributor_layout %>
      <div id="sidebar" class="span2 bs-docs-sidebar" style="display:none;">
	<div class="well sidebar-nav sidebar-nav-fixed">
	  <ul class="nav nav-list bs-docs-sidenav">
	    <li class="nav-header">Articles Options</li>
	    <% if @contributor_layout %>
	    <li class="nav-list-item"><%=link_to raw("View Incomplete<span class='round list-right less-up'>") + num_contributor_incomplete.to_s + raw("</span>"), contributor_incomplete_index_path(current_employee) %></li>
	    <li class="nav-list-item"><%=link_to "View Pending Review", contributor_review_index_path(current_employee) %></li>
	    <% elsif @editor_layout %>
	    <li class="nav-list-item"><%=link_to "New", new_editor_article_path(current_employee) %></li>
	    <li class="nav-list-item"><%=link_to raw("View Incomplete<span class='round list-right less-up'>") + num_incomplete.to_s + raw("</span>"), editor_incomplete_index_path(current_employee) %></li>
	    <li class="nav-list-item"><%=link_to raw("Review<span class='round list-right less-up'>") + num_review.to_s + raw("</span>"), editor_review_index_path(current_employee) %></li>
	    <li class="nav-list-item"><%=link_to raw("Publish<span class='round list-right less-up'>") + num_publish.to_s + raw("</span>"), editor_approved_index_path(current_employee) %></li>
	    <li class="nav-list-item"><%=link_to "Manage Published", editor_published_index_path(current_employee) %></li>
	    <% end %>
	  </ul>
	</div><!--/.well -->
      </div><!--/span-->
      <% end %>
      <div id="content" class="span12">
	<% if notice %>
	<div class="span12 row center">
	  <%=notice %>
	</div>
	<% end %>
	<%= yield %><!-- <label id="code.depot.e.include"/> -->
      </div>
      <% if @editor_layout or @contributor_layout %>
      <div class="toggles-container-in">
	<% if @editor_layout %>
	  <a href="#" class="toggles editor">
	<% else %>
	<a href="#" class="toggles contributor">
	<% end %>
	<i class="icon-chevron-right"></i></a>
      </div>
      <% end %>
  </body>
<!-- <%= debug(params) if Rails.env.development? %> -->
</html>

